.content-first {
  .inner-content-first {
    .content-first-top {
      height: 575px;
      .inner-top-first {
        width: 1280px;
        height: $max;
        padding-top: 70px;
        .first-top-title {
          @include box-title;
          padding-bottom: 30px;
        }
        .first-top-box {
          width: $max;
          height: 430px;
          .first-top-items,
          .second-top-items {
            width: 410px;
            height: $max;
            border: $none;
            p {
              @include default-link;
              font-size: 14px;
            }
            h5 {
              @include default-link;
              font-size: 20px;
              line-height: 31px;
            }
            a {
              color: black;
              i {
                margin-left: 5px;
              }
            }
          }
          .first-top-items:hover,
          .second-top-items:hover {
            a {
              text-decoration: underline;
            }
            i {
              transform: translateX(5px);
              transition: transform 1s;
            }
          }
        }
      }
    }
    .content-first-bottom {
      height: 636px;
      .inner-bottom-first {
        height: $max;
        width: 1275px;
        .first-bottom-title {
          @include box-title;
        }
        .first-bottom-box {
          .first-bottom-items {
            width: 290px;
            button {             
              background-color: transparent;
              border: $none;
              .picture-modal {
                @include modal;
              }
            }
            .modal {
              background-color: rgba(127, 115, 114, 0.1);
              .modal-dialog {
                .modal-content {
                  background-color: white;
                  .modal-body {
                    .container-fluid {
                      div {
                        img {
                          width: 70px;
                          height: 70px;
                        }
                        span {
                          @include modal-text;
                          a {
                            text-decoration: none;
                            color: #006db7;
                          }
                        }
                      }
                      button {
                        @include modal-button
                      }
                      button:hover {
                        background-color: transparent;
                        color: black;
                        transition: 1s;
                      }
                    }
                  }
                }
              }
            }
            .item-img {
              height: 290px;

              img {
                width: 90%;
                height: 70%;
              }
              .items-badge {
                position: absolute;
                left: 20px;
                bottom: 10px;
              }
            }
            .item-img:hover {
              img {
                transform: scaleY(1.2) scaleX(1.1);
                transition: transform 1s;
              }
            }
            div {
              background-color: transparent;
              a {
                @include default-link;
                font-size: 16px;
                line-height: 25px;
              }
              a:hover {
                text-decoration: underline;
              }
            }
            .item-tag {
              button {
                @include item-button;

                span {
                  color: $light-gray;
                }
              }
              button:hover {
                background-color: transparent;
                transition: 1s linear;
                span {
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
}
