* {
  font-family: "Cera Pro", sans-serif;
  font-weight: 500;
  padding:0px
}
@import "mixin";
@import "variables";
@import "header";
@import "home";
@import "content";
@import "content-card";
@import "footer";
